<a href="https://colab.research.google.com/github/Robin-das-raam/Natural-Language-Processing/blob/main/extracting_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install "camelot-py[cv]" -q

     |████████████████████████████████| 40 kB 11 kB/s
     |████████████████████████████████| 5.6 MB 8.3 MB/s
     |████████████████████████████████| 214 kB 72.8 MB/s
     |████████████████████████████████| 11.7 MB 12.2 MB/s
     |████████████████████████████████| 4.1 MB 32.0 MB/s

In [2]:
!apt-get install ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  fonts-droid-fallback fonts-noto-mono gsfonts libcupsfilters1 libcupsimage2
  libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
Suggested packages:
  fonts-noto ghostscript-x poppler-utils fonts-japanese-mincho
  | fonts-ipafont-mincho fonts-japanese-gothic | fonts-ipafont-gothic
  fonts-arphic-ukai fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  fonts-droid-fallback fonts-noto-mono ghostscript gsfonts libcupsfilters1
  libcupsimage2 libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
0 upgraded, 11 newly installed, 0 to remove and 20 not upgraded.
Need to get 14.1 MB of archives.
After this operation, 49.9 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.9 [18.6 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.16 [5,093 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [2,265 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ghostscript amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [51.3 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 gsfonts all 1:8.11+urwcyr1.0.7~pre44-4.4 [3,120 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Fetched 14.1 MB in 1s (10.4 MB/s)
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 155676 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../01-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../02-fonts-noto-mono_20171026-2_all.deb ...
Unpacking fonts-noto-mono (20171026-2) ...
Selecting previously unselected package libcupsimage2:amd64.
Preparing to unpack .../03-libcupsimage2_2.2.7-1ubuntu2.9_amd64.deb ...
Unpacking libcupsimage2:amd64 (2.2.7-1ubuntu2.9) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../04-libijs-0.35_0.35-13_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-13) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../05-libjbig2dec0_0.13-6_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.13-6) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../06-libgs9-common_9.26~dfsg+0-0ubuntu0.18.04.16_all.deb ...
Unpacking libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../07-libgs9_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package ghostscript.
Preparing to unpack .../08-ghostscript_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking ghostscript (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package gsfonts.
Preparing to unpack .../09-gsfonts_1%3a8.11+urwcyr1.0.7~pre44-4.4_all.deb ...
Unpacking gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Selecting previously unselected package libcupsfilters1:amd64.
Preparing to unpack .../10-libcupsfilters1_1.20.2-0ubuntu3.1_amd64.deb ...
Unpacking libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Setting up poppler-data (0.4.8-2) ...
Setting up fonts-noto-mono (20171026-2) ...
Setting up libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libcupsimage2:amd64 (2.2.7-1ubuntu2.9) ...
Setting up libjbig2dec0:amd64 (0.13-6) ...
Setting up libijs-0.35:amd64 (0.35-13) ...
Setting up libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up ghostscript (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for libc-bin (2.27-3ubuntu1.5) ...

In [13]:
!java -version

openjdk version "11.0.16" 2022-07-19
OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu118.04)
OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu118.04, mixed mode, sharing)

In [14]:
!pip install -q tabula-py

     |████████████████████████████████| 12.0 MB 5.2 MB/s

In [15]:
import camelot as cam
import tabula

In [59]:
table = cam.read_pdf("/content/drive/MyDrive/metro1/milkymist po (1).pdf",
                     pages = 'all',
                     flavor = 'stream',
                     guess_table = False
                     #strip_text='\n'
                     #edge_tool = 500
                     #flag_size=True
                     )

In [60]:
table[1].df

,0,1,2,3,4,5,6,7
0,,MW462R01(V9.1.032),Order Pool List,,,,26.07.2022/15:11,16704/12\nPage\n2
1,Department,24,Assortment Class\nXX,,,,,
2,SID,Order-No,DelivDate\nSupp,Supp-Name,,,,Pkg-SP\nDate\nOrder-
3,,,,,,Supp-,,
4,PMMG\nArt-No.,,Article Name,,Variant,BUC\nSUC\nArt-No.,OCC\nPos-No.,PCD\nValue\nLast chng\nQty
5,12,220700161,29.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,
6,216,408988.4 MILKY MIST MILK CREAM 1l,,,STAND.-VAR.,12\n 1 407556,1\n128,600\n 142500.00\n26.07.22
7,,,No. of Items:,1,,,Totals:,600.0 142500.00

In [61]:
cam_df = table[1].df

In [62]:
cam_df.drop([0,1,2,3],axis = 0,inplace = True)

In [63]:
cam_df

,0,1,2,3,4,5,6,7
4,PMMG\nArt-No.,,Article Name,,Variant,BUC\nSUC\nArt-No.,OCC\nPos-No.,PCD\nValue\nLast chng\nQty
5,12,220700161,29.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,
6,216,408988.4 MILKY MIST MILK CREAM 1l,,,STAND.-VAR.,12\n 1 407556,1\n128,600\n 142500.00\n26.07.22
7,,,No. of Items:,1,,,Totals:,600.0 142500.00

In [64]:
cam_df[0] = cam_df[0].str.replace("\n","  ")

In [69]:
cam_df[2] = cam_df[2].str.replace("\n","  ")

In [65]:
cam_df[5] = cam_df[5].str.replace("\n","  ")

In [66]:
cam_df[7] = cam_df[7].str.replace("\n","  ")

In [67]:
cam_df[6] = cam_df[6].str.replace("\n","  ")

In [70]:
cam_df

,0,1,2,3,4,5,6,7
4,PMMG Art-No.,,Article Name,,Variant,BUC SUC Art-No.,OCC Pos-No.,PCD Value Last chng Qty
5,12,220700161,29.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,,
6,216,408988.4 MILKY MIST MILK CREAM 1l,,,STAND.-VAR.,12 1 407556,1 128,600 142500.00 26.07.22
7,,,No. of Items:,1,,,Totals:,600.0 142500.00

In [71]:
cam_df.columns = cam_df.iloc[0]
cam_df.drop([4],axis = 0,inplace = True)

In [72]:
cam_df

4,PMMG Art-No.,,Article Name,,Variant,BUC SUC Art-No.,OCC Pos-No.,PCD Value Last chng Qty
5,12,220700161,29.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,,
6,216,408988.4 MILKY MIST MILK CREAM 1l,,,STAND.-VAR.,12 1 407556,1 128,600 142500.00 26.07.22
7,,,No. of Items:,1,,,Totals:,600.0 142500.00

In [91]:
cam_df.rename(columns = {'OCC Pos-No.':'Pos-No. OCC'}, inplace = True)

In [58]:
cam_df

4,PMMG Art-No.,,Article Name,,Variant,BUC SUC Art-No.,OCC Pos-No.,PCD Value Last chng Qty
5,12,220700161,29.07.22\n24939,MILKY MIST DAIRY FOOD PVT LTD,,,,
6,216,408988.4 MILKY MIST MILK CREAM 1l,,,STAND.-VAR.,12 1 407556,1 128,600 142500.00 26.07.22
7,,,No. of Items:,1,,,Totals:,600.0 142500.00

In [90]:
cam_df.columns

Index(['PMMG  Art-No.', '', 'Article Name', '', 'Variant', 'BUC  SUC  Art-No.',
       'Pos-No.  OCC', 'Qty  Value  Last chng  PCD'],
      dtype='object', name=4)

In [85]:
cam_df['PCD  Value  Last chng  Qty']

5
6    600    142500.00  26.07.22
7              600.0  142500.00
Name: PCD  Value  Last chng  Qty, dtype: object

In [86]:
cam_df.columns  = cam_df.columns.str.replace('PCD  Value  Last chng  Qty','Qty  Value  Last chng  PCD')

In [92]:
cam_df

4,PMMG Art-No.,,Article Name,,Variant,BUC SUC Art-No.,Pos-No. OCC,Qty Value Last chng PCD
5,12,220700161,29.07.22 24939,MILKY MIST DAIRY FOOD PVT LTD,,,,
6,216,408988.4 MILKY MIST MILK CREAM 1l,,,STAND.-VAR.,12 1 407556,1 128,600 142500.00 26.07.22
7,,,No. of Items:,1,,,Totals:,600.0 142500.00

In [97]:
cam_df.fillna("",inplace = True)

In [99]:
cam_df.to_csv("/content/drive/MyDrive/metro1/milkymist po (1).csv")

In [95]:
import pandas as pd

In [101]:
ds = pd.read_csv("/content/drive/MyDrive/metro1/final_MILKY MIST  PO 27.07.2022.csv")
ds

,Unnamed: 0,PMMG,Art-No.,Article Name,Variant,BUC,SUC,Art-No..1,Pos-No.,OCC,Qty,Value,Last chng PCD
0,0,12.0,220800188.0,30.07.22\n24939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,210.0,370394.9,MILKYMIST TABLE BUTTER 100g,STAND.VAR,1.0,1.0,370394.0,1,128.0,50,2884.00,27.07.22
2,2,217.0,429889.9,MILKYMIST SHRKAND BDM PSTA400g,STAND.-VAR.,12.0,1.0,427703.0,1,128.0,12,1302.84,27.07.22
3,3,215.0,320287.6,MILKYMIST KHOVA 200g,STAND.VAR,1.0,1.0,320287.0,1,128.0,20,1538.00,27.07.22
4,4,215.0,320296.7,MILKYMIST POUCH CURD 500 g,STAND.VAR,1.0,1.0,320296.0,1,128.0,100,3981.00,27.07.22
5,5,215.0,342755.6,MILKYMIST POUCH CURD 1 l,STAND.VAR,10.0,1.0,342755.0,1,128.0,100,8143.00,27.07.22
6,6,215.0,327660.7,MILKY MIST SET CURD BUCKET 1 k,STAND.VAR,9.0,1.0,327660.0,1,128.0,36,4234.32,27.07.22
7,7,215.0,388667.8,MILKYMIST SET CURD BUCKET 5 kg,STAND.VAR,1.0,1.0,387492.0,1,128.0,30,11807.10,27.07.22
8,8,215.0,380659.3,MILKYMIST BUCKET CURD 10 kg,STAND.VAR,1.0,1.0,380038.0,1,128.0,30,24292.80,27.07.22
9,9,215.0,374364.8,MILKYMIST FRUT YOGRT BLUEBRY10,STAND.VAR,24.0,1.0,374198.0,1,128.0,120,5971.20,27.07.22
10,10,216.0,408989.2,MILKY MIST MILK CREAM 200ml,STAND.-VAR.,30.0,1.0,407557.0,1,128.0,120,6840.00,27.07.22
11,11,216.0,408988.4,MILKY MIST MILK CREAM 1l,STAND.-VAR.,12.0,1.0,407556.0,1,128.0,600,142500.00,27.07.22
12,12,219.0,137575.7,MILKY MIST PANEER 1 kg,STAND.VAR,1.0,1.0,137575.0,1,128.0,300,118287.00,27.07.22
13,13,214.0,405316.1,MILKYMIST MSHAKECHOCO 180 ml,STAND.-VAR.,30.0,1.0,403863.0,1,128.0,240,7125.60,27.07.22
14,14,NaN,NaN,No. of Items:,NaN,NaN,NaN,NaN,Totals:,NaN,1758.0 338906.86,NaN,NaN